
body {
	font-family: Georgia, sans-serif;
	margin:auto;
	padding:150px;
	/* background-image: url(http://www.fondsecran.eu/a/get_photo/68893/1920/1080); */
	background-repeat:no-repeat;
	background-size:cover;
	background-color:whitesmoke;

	
	}

h1 {
	text-align: center;
	padding-top : 20px;
	padding-bottom: 20px;
	border-radius: 78px;
	background: linear-gradient(225deg, #e6ecf0, #ecedee);
	box-shadow:  -41px 41px 82px #070707, 
             41px -41px 82px #bac1ff;

}

p{
	font-size: 20px;

	}

ul {
  	list-style-type:none   
  	}

div {
  	font-size: 25px;
  	
  	}

.adresse li {
	padding-bottom:20px;
	padding-top:10px;
			}


.cv {
	padding:10px;
	border-radius: 50px;
	/* background: linear-gradient(225deg, #f3f3f5, #e9e9ec); */
	box-shadow:  -41px 41px 82px #070707, 
             41px -41px 82px #bac1ff;
	display:grid;
	grid-template-columns:auto;
	grid-template-rows:auto;
	grid-gap: 25px;
	grid-row-gap: 2em;
	grid-row-start:auto;

	}

.nom {
	border-radius: 78px;
	/* background: linear-gradient(225deg, #f3f3f5, #e9e9ec); */
	box-shadow:  -41px 41px 82px #070707, 
             41px -41px 82px #bac1ff;
	
	/*grid-column: 1/2;
	grid-row: 1;*/
	grid-row-start: 2;
	grid-column-start: 1;
    text-align:center;

	}

.formation {
	border-radius: 78px;
	background: linear-gradient(225deg, #f3f3f5, #e9e9ec);
	box-shadow:  -41px 41px 82px #070707, 
             41px -41px 82px #bac1ff;
	background-color:#f2f2fa;
	
	/*grid-column: 2/2;
	grid-row: 1/2;*/
	grid-column-start: 2;
	grid-row-start: 2;
	text-align:center;
	
	}

.adresse {
	
	border-radius: 78px;
	background: linear-gradient(225deg, #f3f3f5, #e9e9ec);
	box-shadow:  -41px 41px 82px #070707, 
             41px -41px 82px #bac1ff;
	background-color:#f2f2fa;
	/*grid-column: 1;
	grid-row: :2/2;*/
	grid-row-start: 3;
	grid-column-start: 1;
	text-align:center;
	
	}

.experiences {
	border-radius: 78px;
	background: linear-gradient(225deg, #f3f3f5, #e9e9ec);
	box-shadow:  -41px 41px 82px #070707, 
             41px -41px 82px #bac1ff;
	background-color:#f2f2fa;
	
	grid-row-start: 3;
	grid-column-start: 2;
	text-align:center;
			}

.loisir {
	border-radius: 78px;
	background: linear-gradient(225deg, #f3f3f5, #e9e9ec);
	box-shadow:  -41px 41px 82px #070707, 
             41px -41px 82px #bac1ff;
	background-color:#f2f2fa;
	grid-row-start: 4;
	grid-column-start: 1;
	text-align: center;

		}

.connaissances {
	border-radius: 78px;
	background: linear-gradient(225deg, #f3f3f5, #e9e9ec);
	box-shadow:  -41px 41px 82px #070707, 
             41px -41px 82px #bac1ff;
	background-color:#f2f2fa;
	grid-row-start: 4;
	grid-column-start: 2;
	text-align: center;
		}

 .row32 {
 	grid-row-start: 1;
 	grid-column-start: 2;
 	 
 	 }	
 
 .row3 {
 	grid-row-start: 5;
 	grid-column-start: 1;
 		}

 @media screen and (max-width: 768px) { 

									.mycv { 
											padding: 10px;
    										border-radius: 50px;
    										background: blue;
    										box-shadow: inset 19px 19px 37px #74848c,  inset -19px -19px 37px #9eb2be;
   											display: grid;
										    grid-template-columns: auto;
										    grid-template-rows: auto;
										    grid-gap: 5px;
										    grid-row-gap: 5em;
										    grid-row-start: auto; }
   											

   									.nom { 
   											 grid-row-start: 2;
   											 grid-column-start: 1;}

   									.adresse{ 
   												grid-row-start: 3;
   												grid-column-start: 1; }

   									.formation{ 
   												grid-row-start: 4;
   												grid-column-start: 1; }	

   									.experiences { 
   													border-radius: 78px;
													   background: linear-gradient(225deg, #f3f3f5, #e9e9ec);
													   box-shadow:  -41px 41px 82px #070707, 
																41px -41px 82px #bac1ff;
													   background-color:#f2f2fa;
   													grid-row-start: 5;
   													grid-column-start :1; }

   									.connaissances { 
   												border-radius: 78px;
												   background: linear-gradient(225deg, #f3f3f5, #e9e9ec);
												   box-shadow:  -41px 41px 82px #070707, 
															41px -41px 82px #bac1ff;
												   background-color:#f2f2fa;
											    grid-row-start: 6;
											    grid-column-start: 1;
											    text-align: center; }

									.loisir { 
												border-radius: 78px;
											    background: linear-gradient(225deg, #f3f3f5, #e9e9ec);
												box-shadow:  -41px 41px 82px #070707, 
            												41px -41px 82px #bac1ff;
												background-color:#f2f2fa;
											    grid-row-start: 7;
											    grid-column-start: 1;
											    text-align: center; }

											   
									.row3 {
										 	grid-row-start: 8;
										 	grid-column-start: 1;
										 }
 		}		   
