body {
  font-family: Georgia, sans-serif;
  margin: auto;
  padding: 150px;
  background-image: url(http://www.fondsecran.eu/a/get_photo/68893/1920/1080);
  background-repeat: no-repeat;
  background-size: cover; }
